.header {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .header-top {
    display: flex;
    width: 100%;
    height: 80px;
    background-color: #212121;
    color: rgb(139, 82, 214);
  }

  .header-top_logo {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .header-logo {
    height: 60px;
    width: 120px;
    margin-left: 20px;
    margin-top: 20px;
    margin-bottom: 20px;
  }
  
  .header-top_navbar {
    display: flex;
    flex: 1;
    flex-direction: column;
  }
  
  .header-top_seperator {
    width: 100%;
    border: none;
    height: 2px;
    margin-top: 2px;
    background-color: black;
  }

  .header-top_navigation {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: flex-end;
    margin-right: 55px;
  }
  
  .cat-flag {
    float: right;
    width: 50px;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .spanish-flag {
    float: right;
    width: 50px;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
  }

  .english-flag {
    float: right;
    width: 50px;
    height: 30px;
    margin-left: 20px;
    margin-top: 15px;
  }