.navbar {
    display: flex;
    flex-direction: row;
  }
  
  .navbar-item {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 30px;
    color: inherit;
    text-decoration: inherit;
    text-transform: uppercase;
    outline: none;
  }

  .header-bottom {
    display: flex;
    flex: 1;
    justify-content: flex-end;
    align-items: center;
    margin-top: 6px;
  }
  
  .header-bottom_email {
    margin-right: 25px;
  }
  
  .header-bottom_profile{
    margin-right: 65px;
  }

  .profile_pic {
    height: 40px;
    width: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    margin-top: 10px;
    margin-bottom: 10px;
    color: inherit;
    outline: none;
  }