.App {
  text-align: center;
  background-color: #373737;
  color: white;
}
 body {
  font-family: 'Poppins', sans-serif;
 }

 .my-buttons {
  margin-left: 5px;
  margin-right: 5px;
  width: 100px;
 }

.info-icon {
  width: 15px;
  height: 15px;
  margin-left: 10px;
}

.my-toast-button {
  display: flex;

}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.logo_pic {
  text-align: center;
  height: 200px;
  width: 375px;
  margin-left: 20px;
}

.type-box {
  margin-left: 10px;
}

.intro-text {
  margin-top: 5px;
  margin-bottom: 5px;
  margin-left: 200px;
  margin-right: 200px;
  text-align: center;
}
